body {
    font-size: 20px;
    font-family: 'Mulish', sans-serif;
    color: rgb(75, 43, 102);
}

a {
    color: rgb(75, 43, 102);
    text-decoration: none;
}

a:link {
    color: rgb(75, 43, 102);
    text-decoration: none;
}

a:hover {
    color: rgb(75, 43, 102);
    text-decoration: none;
}

h2 {
    color: rgb(207, 28, 82);
    font-weight: 900;
    font-size: 35px;
    text-align: center;
    padding-top: 70px;
    margin-bottom: 40px;
}

h3 {
    font-weight: 700;
    font-size: 25px;

}

.navbar {
    font-size: 18px;
    height: 60px;
    background-color: rgb(227, 233, 240);
    font-weight: 900;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.navbar .container {
    height: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-menu {
    margin: 0;
}

.navbar-menu li {
    display: inline-block;
    padding-right: 10px;
}

.symb a {
    display: inline-block;
    padding: 10px;
}

.navbar_fixed {
    position: fixed;
    top: 0;
    left: 0;
    animation-name: show_header;
    animation-duration: 1s;
    width: 100%;
    padding-left: 185px;
    padding-right: 185px;
    z-index: 3;
    background-color: rgb(75, 43, 102);
}

.navbar_fixed a {
    color: white;
}

@keyframes show_header {
    0% {
        opacity: 0;
        top: -60px;
    }
    100% {
        opacity: 1;
        top: 0;
    }
}

.wrapper {
    padding-left: 200px;
    padding-right: 200px;
}

#intro {
    display: flex;
    background-color: rgb(227, 233, 240);
    justify-content: space-between;
    padding: 40px 200px;
    height: 610px;
}

.image {
    position: relative;
}

.round {
    border-radius: 250px; /* Радиус скругления */
    box-shadow: 0 0 7px rgb(227, 233, 240); /* Параметры тени */
    height: 500px;
    width: 500px;
    transition-duration: .6s;
    position: absolute;
    top: 10px; 
    left: 15px;
}

.round:hover {
    height: 525px;
    width: 525px;
    border-radius: 275px;
    transition-duration: .6s;
    top: 2px; 
    left: 2px;
}

.text {
    padding-top: 90px;
    font-weight: 900;
    font-size: 40px;
}

span {
    color: rgb(207, 28, 82);
}

.main-presentation {
    font-size: 55px;
    margin-bottom: 10px;
}

.presentation {
    margin: 5px;
}

.contact-button {
    margin-top: 50px;
    background-color: rgb(207, 28, 82);
    border: none;
    color: white;
    padding: 17px 45px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: 'Mulish', sans-serif;
    font-weight: 900;
    font-size: 20px;
    transition-duration: .6s;
}

.contact-button:hover {
    background-color: rgb(71, 52, 138);
    transition-duration: .6s;
    cursor: pointer;
}

#about-me {
    margin-top: 55px;
}

.content {
    display: flex;
}

.second {
    margin-left: 50px;
}

.second p {
    margin-bottom: 50px;
}

#slider {
    height: 700px;
    width: 505px;
}

.row {
    display: flex;
}

.scrollspy-example {
    /* position: relative; */
    height: 278px;
    overflow-y: scroll;
}

#list-example a:focus {
    background-color: rgb(150, 43, 75) !important;
    color: white !important;
}

#list-example a:hover {
    background-color: rgb(150, 43, 75) !important;
    color: white !important; 
    border: none !important;
}

#list-example a {
    background-color: rgb(150, 43, 75) !important;
    color: white !important; 
    border: none !important;
    font-weight: 700;
}

#list-example a:active {
    border: none !important;
}

.scrollspy-example p {
    margin: 10px;
}

.scrollspy-example ul {
    margin-bottom: 115px;
}

#list-example img {
    margin-right: 15px;
}

.contactme {
    display: flex;
    flex-direction: column;
    margin: 0px 150px 50px 150px;
    padding: 10px 70px 30px 70px;
    background-color: rgb(227, 233, 240);
    border-radius: 10px;
}

.field {
    margin: 10px 0px;
    border-radius: 5px;
    border: none;
    padding-left: 15px;
}

.field-text {
    height: 50px;
}

.btn {
    margin-top: 30px;
    background-color: rgb(207, 28, 82);
    border: none;
    color: white;
    padding: 17px 305px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: 'Mulish', sans-serif;
    font-weight: 900;
    font-size: 20px;
    transition-duration: .6s;
}

.btn:hover {
    background-color: rgb(71, 52, 138);
    transition-duration: .6s;
    cursor: pointer;
}

footer {
    font-size: 18px;
    height: 100px;
    background-color: rgb(75, 43, 102);
    color: white;
}

footer .container a {
    color:rgba(227, 233, 240, 0.384)
}

footer .container .contact {
    padding-top: 20px;
    height: inherit;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.copyright {
    padding-top: 10px;
    font-size: 14px;
    color:rgba(227, 233, 240, 0.384)
}
