* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	position: relative;
	background-color: #fff;
	font-family: 'Montserrat', sans-serif;
	-webkit-transition: all .7s ease;
	-o-transition: all .7s ease;
	transition: all .7s ease;
}
.mask {
	width: 100%;
	height: 100%;
	background: #fff;
	position: fixed;
	top: 0;
	z-index: 100;
	transition: 0.6s;
	display: flex;
	justify-content: center;
	align-items: center;
}
.loader {
	width: 75px;
	height: 75px;
	border: 10px solid #ccc;
	border-radius: 50%;
	border-left-color: tomato;
	animation: loader 1.3s linear infinite;
}

@keyframes loader {
	100% {
		transform: rotate(360deg);
	}
}
.hide {
	opacity: 0;
}

#head{
 	width: 100%;
    position: fixed;
    z-index: 1000;

}

#content {
    margin-top: 60px;
}

body.switchMode {
	background-color: #000;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 15px;
}

header {
	position: relative;
	overflow: hidden;
	width: 100%;
	
}


.header_head {
	position: relative;
	background-color: #191819; 
}

nav a:hover {
	background-color: #3d4040;
}

.head_inner {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	-ms-align-items: center;
	align-items: center; /*здесь появился черный фон*/
}

.head_inner .logo {
	font-weight: bold;
	font-size: 18px;
	color: #ccc; 

}

.head_inner nav ul {
	margin: 0;
	padding: 0;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
}

.head_inner nav ul li {
	list-style-type: none;

}


.head_inner nav ul li a {
	font-size: 14px;
	color: #ccc;
	display: inline-block;
	padding: 20px 30px;
	text-decoration: none;
	text-transform: uppercase;

}

.head_inner nav ul li.switch a {
	position: relative;
	width: 45px;
	height: 24px;
	border: 1px solid #ccc;
	border-radius: 10em;
	padding: 0;
	margin-top: 5px;
	overflow: hidden;

}
.head_inner nav ul li.switch a:after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 24px;
	height: 24px;
	background-color: #fff;
	border-radius: 10em;
	-webkit-transition: all .5s ease;
	-o-transition: all .5s ease;
	transition: all .5s ease;
}

body.switchMode .head_inner nav ul li.switch a:after {
	left: 20px;
}

.header_body {
	position: relative;
	width: 100%;
	height: 100%;
	margin-top: 150px;

	
}

.header_body_inner {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	-ms-align-items: center;
	align-items: center;
	width: 100%;
}

.header_body_inner .left .title {
	color: #333;
	font-size: 46px;
	-webkit-transition: all .5s ease;
	-o-transition: all .5s ease;
	transition: all .5s ease;

}
body.switchMode .header_body_inner .left .title {
	color: #fff;
}
.header_body_inner .left .title span {
	color: #f83b3a;
}

a.btn {
	display: inline-block;
	background-color: #f83b3a;
	color: #fff;
	padding: 15px 30px;
	text-decoration: none;
	margin-top: 50px;
	border-radius: 5px;

}

a.btn:hover {
	background-color: rgb(255, 99, 90);
}

.header_body_inner .right img {
	border-radius: 50%;
	max-height: 500px;
}

section {
	position: relative;
	/*padding: 20px;*/
	width: 100%;
	/*height: 100vh;*/

}

#karusel {
	box-sizing: border-box;
	justify-content: center;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	position: relative;
	max-width: 1000px;
	margin: 30px auto;
}

/*.carousel {
  border: 6px dotted #ccc;
  border-radius: 5px; 
  padding: 8px;
}*/


.selection_title {
	font-size: 36px;
	font-weight: bold;
	letter-spacing: 2px;
	color: #333;
	

}

.timeline{
  margin: 4.2rem auto;
  display: flex;
  width: 100%;
  max-height: 768px;
  position: relative;
}
.timeline:before{
  content: '';
  display: block;
  width:1px;
  height: 100%;
  background-color: grey;
  position: absolute;
  top: 0;
  left: 50%;
  z-index: 1;

}
.timeline__col{
  width: 50%;
}
.timeline__title{
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 2.6rem;
}
#text-right{
  text-align: right;
  padding-right: 3.2rem;
}
#text-left{
  text-align: left;
  padding-left: 3.2rem;

}
.timeline__item{
  margin-bottom: 2.6rem;
}
.timeline__date{
  display: block;
  text-decoration: underline;
  font-size: 0.94rem;
  margin-bottom: 0.8rem;
}
.timeline__subtitle{
  font-size: 1.06rem;
  font-weight: 700;
}
.timeline__position{
  font-size: .94rem;
  font-style: italic;
}
.timeline__text{
  font-size: 0.8rem;
  font-weight: 400;
  line-height: 1.5;
  margin-top: .8rem;
}
.progress-bar1{
  display: flex;
  align-items: center;
  margin-bottom: .3rem;
}
.progress-bar__title1{
  font-size: .94rem;
  padding-right: 15px;
  
}
.progress-bar__item1{
  display: flex;
  align-items: center;
}

#text-left-1{
  text-align: left;
  padding-left: 3.2rem;
  color: grey;
  margin-bottom: 10px;
  font-family: 'Montserrat', sans-serif;
}

body.switchMode #leben .selection__title  {
	color: #fff;
}

body.switchMode #leben .timeline__title  {
	color: #fff;
}

body.switchMode #leben .timeline__col  {
	color: #fff;
}


/*iframe {
	border: 6px dotted #ccc;
  	border-radius: 5px; 
  	padding: 8px;
}*/


.feedback {
	text-align: center;

}



body.switchMode .selection_title{
	color: #fff;
}
.about_text {
	margin-top: 45px;
}

.about_text p {
	font-size: 18px;
	margin-bottom: 65px;
}

body.switchMode .about_text p {
	color: #fff;
}

.portfolio_items {
	margin-top: 45px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	
}

.portfolio_items .item {
	display: block;
	position: relative;
	
	
}

.portfolio_items .item: last-child {
	margin-right: 0;
}



.portfolio_btn {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
}

.contact_form {
	position: relative;
	max-width: 700px;
	margin: 45px auto;
	text-align: center;
}

.contact_form form input {
	width: 100%;
	height: 70px;
	margin-bottom: 20px;
	padding: 10px 0 10px 30px;
	font-family: 'Montserrat', sans-serif;
	font-size: 20px;
	border: 1px solid #333;
	border-radius: 3px;
}

.contact_form form textarea {
	width: 100%;
	font-size: 20px;
	border: 1px solid #333;
	border-radius: 3px;
	padding: 10px 0 10px 30px;
	font-family: 'Montserrat', sans-serif;
}

.contact_form form button {
	display: inline-block;
	background-color: #f83b3a;
	color: #fff;
	padding: 15px 30px;
	text-decoration: none;
	margin-top: 20px;
	border-radius: 5px;
	border: none;
	width: 100%;
	font-size: 18px;
}


footer {
	padding: 20px 0;
	background-color: #181918;
	position: relative;
	bottom: 0;
	height: 80px;
	margin-top: 150px;
}

footer p {
	text-align: center;
	color: #ccc;
	padding: 10px;

}

.end1 {
	padding: 20px;

}

.end2 {
	padding: 20px;

}
.end3 {
	padding: 20px;

}

#butt:hover {
	background-color: rgb(255, 99, 90);
	cursor: pointer;
}



@media screen and (max-width: 1200px) {
	.container {
		width: 1140px;
	}
}

@media screen and (max-width: 1199px) {
	.container {
		width: 960px;
	}
	.carousel-item {
		width: 900px;
	}
}

@media screen and (max-width: 991px) {
	.container {
		width: 720px;
	}
	.header_head {
		width: 100%;
		
	}
	.portfolio_items a iframe {
		width: 700px;
	}
	.carousel-item {
		width: 700px;
	}

	.head_inner .logo {
		display: none;
	}

	.header_body_inner .left .title {
		font-size: 29px;
	}

	.header_body_inner .right {
		margin: 10px;
	}

}

@media screen and (max-width: 767px) {
	.container {
		width: 100%;
	}
	.header_head {
		width: 100%;
		
	}
	.portfolio_items a iframe {
		width: 570px;
		height: 400px;
	}
	.carousel-item {
		width: 570px;
	}

	.head_inner .logo {
		display: none;
	}

	.header_body_inner .left .title {
		font-size: 29px;
	}

	.header_body_inner .right {
		margin: 10px;
	}

	.contact_form form textarea {
		width: 80%;
		font-size: 17px;

	}

	.contact_form form input {
		width: 80%;
		font-size: 17px;
		height: 60px;
	}
	.contact_form form button {
		width: 80%;
	}

	.header_body_inner .right img {
		max-height: 300px;
	
	}
}

@media screen and (max-width: 679px) {
	.container {
		width: 100%;
	}
	.header_head {
		width: 100%;
		
	}
	.portfolio_items a iframe {
		width: 570px;
		height: 400px;
	}
	.carousel-item {
		width: 570px;
	}

	.head_inner .logo {
		display: none;
	}

	.header_body_inner .left .title {
		font-size: 29px;
	}

	.header_body_inner .right {
		margin: 10px;
	}

	.contact_form form textarea {
		width: 80%;
		font-size: 17px;

	}

	.contact_form form input {
		width: 80%;
		font-size: 17px;
		height: 60px;
	}
	.contact_form form button {
		width: 80%;
	}

	.header_body_inner .right img {
		max-height: 300px;
	
	}

	.head_inner ul.menu li {
		display: none;
		
	}
	.head_inner .logo {
		display: block;
		padding: 15px;

	}
}

@media screen and (max-width: 575px) {
	.container {
		width: 100%;
		padding: 0 15px;
	}
	
	.portfolio_items a iframe {
		width: 350px;
		height: 200px;
	}
	.carousel-item {
		width: 350px;
		
	}
	footer p {
		margin: 0;	
		padding: 0;

	}

	.end1 {
		padding: 0;	
		
	}
	.end2 {
		padding: 0;
	}
	.end3 {
		padding: 0;
	}


	.head_inner ul.menu li {
		display: none;
		
	}
	.head_inner .logo {
		display: block;
		padding: 15px;

	}

	.header_body_inner .right {
		margin: 0;
	}

	a.btn {
		padding: 7px 16px;
	}

	.contact_form form button {
		padding: 7px 16px;
	}

	.header_body_inner .right img {
		max-height: 178px;
	
	}

	.header_body_inner .left .title {
		font-size: 20px;


	}

	.selection_title {
		font-size: 25px;
	}

	.about_text p {
		font-size: 16px;
	}
	.contact_form form textarea {
		width: 80%;
		font-size: 17px;

	}

	.contact_form form input {
		width: 80%;
		font-size: 17px;
		height: 60px;
	}
	.contact_form form button {
		width: 80%;
	}

	#text-left-1 {
		font-size: 10px;
		padding-left: 3.2rem;
	}

}

@media screen and (max-width: 376px) {
	.container {
		width: 100%;
		padding: 0 15px;
	}
	
	.portfolio_items a iframe {
		width: 350px;
		height: 200px;
	}
	.carousel-item {
		width: 350px;
		
	}
	footer p {
		font-size: 15px;

	}

	

	.head_inner ul.menu li {
		display: none;
		
	}
	.head_inner .logo {
		display: block;
		padding: 15px;

	}

	.header_body_inner .right {
		margin: 0;
	}

	a.btn {
		padding: 5px 13px;
	}

	.contact_form form button {
		padding: 7px 16px;
	}

	.header_body_inner .right img {
		max-height: 155px;
	
	}

	.header_body_inner .left .title {
		font-size: 21px;


	}

	.selection_title {
		font-size: 25px;
	}

	.about_text p {
		font-size: 15px;
	}

	#text-left {
		padding-left: 2.1rem;
	}

	#text-left-1 {
		font-size: 11px;
		padding-left: 2.1rem;
	}

	.timeline__title {
		font-size: 1rem;
	}

	.contact_form form input {
		width: 80%;
		font-size: 15px;
		height: 50px;
	}

	.contact_form form textarea {
		width: 80%;
		font-size: 15px;
		
	}

}
@media screen and (max-width: 374px) {
	.container {
		width: 100%;
		padding: 0 15px;
	}
	
	.portfolio_items a iframe {
		width: 280px;
		height: 200px;
	}
	.carousel-item {
		width: 280px;
		
	}
	footer p {
		font-size: 14px;

	}




	.head_inner ul.menu li {
		display: none;
		
	}
	.head_inner .logo {
		display: block;
		padding: 15px;

	}

	.header_body_inner .left {
		box-sizing: border-box;
		width: 60%;
		margin: 0;
	}
	


	/*.header_body_inner .right {
		box-sizing: border-box;
		margin: 0;
		width: 30%;
	}*/

	.header_body_inner .right img {
		
		width: 100px;
	
	}

	a.btn {
		padding: 5px 13px;
	}

	.contact_form form button {
		padding: 7px 16px;
	}


	.header_body_inner .left .title {
		font-size: 18px;


	}

	.selection_title {
		font-size: 25px;
	}

	.about_text p {
		font-size: 15px;
	}

	#text-left {
		padding-left: 1.1rem;
	}

	#text-left-1 {
		font-size: 11px;
		padding-left: 1.1rem;
	}

	.timeline__title {
		font-size: 1rem;
	}



	.contact_form form input {
		width: 80%;
		font-size: 15px;
		height: 50px;
	}

	.contact_form form textarea {
		width: 80%;
		font-size: 15px;
		
	}

}

@media screen and (max-width: 321px) {
	.container {
		width: 100%;
		padding: 0 15px;
	}
	
	.portfolio_items a iframe {
		width: 280px;
		height: 200px;
	}
	.carousel-item {
		width: 280px;
		
	}
	footer p {
		font-size: 14px;

	}




	.head_inner ul.menu li {
		display: none;
		
	}
	.head_inner .logo {
		display: block;
		padding: 15px;

	}

	.header_body_inner .left {
		box-sizing: border-box;
		width: 60%;
		margin: 0;
	}
	


	/*.header_body_inner .right {
		box-sizing: border-box;
		margin: 0;
		width: 30%;
	}*/

	.header_body_inner .right img {
		
		width: 100px;
	
	}

	a.btn {
		padding: 5px 13px;
	}

	.contact_form form button {
		padding: 7px 16px;
	}


	.header_body_inner .left .title {
		font-size: 18px;


	}

	.selection_title {
		font-size: 25px;
	}

	.about_text p {
		font-size: 15px;
	}

	#text-left {
		padding-left: 1.1rem;
	}

	#text-left-1 {
		font-size: 10px;
		padding-left: 1.1rem;
	}

	.timeline__title {
		font-size: 1rem;
	}



	.contact_form form input {
		width: 80%;
		font-size: 15px;
		height: 50px;
	}

	.contact_form form textarea {
		width: 80%;
		font-size: 15px;
		
	}

}

@media screen and (max-width: 319px) {
	.container {
		width: 100%;
		padding: 0 15px;
	}
	
	.portfolio_items a iframe {
		width: 260px;
		height: 150px;
	}
	.carousel-item {
		width: 260px;
		
	}
	footer p {
		font-size: 12px;


	}




	.head_inner ul.menu li {
		display: none;
		
	}
	.head_inner .logo {
		display: block;
		padding: 10px;
		font-size: 16px;

	}

	.header_body_inner .left {
		box-sizing: border-box;
		width: 60%;
		margin: 0;
	}
	


	/*.header_body_inner .right {
		box-sizing: border-box;
		margin: 0;
		width: 30%;
	}*/

	.header_body_inner .right img {
		
		width: 100px;
	
	}

	a.btn {
		padding: 5px 13px;
	}

	.contact_form form button {
		padding: 7px 16px;
	}


	.header_body_inner .left .title {
		font-size: 18px;


	}

	.selection_title {
		font-size: 20px;
	}

	.about_text p {
		font-size: 13px;
	}

	#text-left {
		padding-left: 0.5rem;
	}

	#text-right {
		padding-left: 0.5rem;

	}

	.timeline__position {
		font-size: 12px;
	}

	.timeline__date {
		font-size: 13px;
	}

	.progress-bar__title1 {
		font-size: 12px;
	}

	#text-left-1 {
		font-size: 9px;
		padding-left: 1.1rem;
	}

	.timeline__title {
		font-size: 0.9rem;
	}



	.contact_form form input {
		width: 80%;
		font-size: 15px;
		height: 50px;
	}

	.contact_form form textarea {
		width: 80%;
		font-size: 15px;
		
	}

}


@media screen and (max-width: 281px) {
	.container {
		width: 100%;
		padding: 0 15px;
	}
	
	.portfolio_items a iframe {
		width: 260px;
		height: 150px;
	}
	.carousel-item {
		width: 260px;
		
	}
	footer p {
		font-size: 10px;


	}




	.head_inner ul.menu li {
		display: none;
		
	}
	.head_inner .logo {
		display: block;
		padding: 10px;
		font-size: 16px;

	}

	.header_body_inner .left {
		box-sizing: border-box;
		width: 60%;
		margin: 0;
	}
	


	/*.header_body_inner .right {
		box-sizing: border-box;
		margin: 0;
		width: 30%;
	}*/

	.header_body_inner .right img {
		
		width: 100px;
	
	}

	a.btn {
		padding: 5px 13px;
	}

	.contact_form form button {
		padding: 7px 16px;
	}


	.header_body_inner .left .title {
		font-size: 18px;


	}

	.selection_title {
		font-size: 20px;
	}

	.about_text p {
		font-size: 13px;
	}

	#text-left {
		padding-left: 0.5rem;
	}

	#text-right {
		padding-left: 0.5rem;

	}

	.timeline__position {
		font-size: 12px;
	}

	.timeline__date {
		font-size: 13px;
	}

	.progress-bar__title1 {
		font-size: 12px;
	}

	#text-left-1 {
		font-size: 8px;
		padding-left: 1.1rem;
	}

	.timeline__title {
		font-size: 0.9rem;
	}



	.contact_form form input {
		width: 80%;
		font-size: 15px;
		height: 50px;
	}

	.contact_form form textarea {
		width: 80%;
		font-size: 15px;
		
	}

}

@media screen and (max-width: 180px) {
	.container {
		width: 100%;
		padding: 0 10px;
	}
	
	.portfolio_items a iframe {
		width: 160px;
		height: 70px;
	}
	.carousel-item {
		width: 160px;
		
	}
	footer p {
		font-size: 10px;


	}




	.head_inner ul.menu li {
		display: none;
		
	}
	.head_inner .logo {
		display: block;
		padding: 8px;
		font-size: 10px;

	}

	.header_body_inner .left {
		box-sizing: border-box;
		width: 60%;
		margin: 0;
	}
	


	/*.header_body_inner .right {
		box-sizing: border-box;
		margin: 0;
		width: 30%;
	}*/

	.header_body_inner .right img {
		
		width: 70px;
	
	}

	a.btn {
		padding: 2px 6px;
		font-size: 10px;

	}

	.contact_form form button {
		padding: 3px 8px;
		font-size: 12px;
	}


	.header_body_inner .left .title {
		font-size: 12px;


	}

	.selection_title {
		font-size: 13px;
	}

	.about_text p {
		font-size: 9px;
	}

	#text-left {
		padding-left: 0.2rem;
	}

	#text-right {
		padding-left: 0rem;

	}

	.timeline__position {
		font-size: 8px;
	}

	.timeline__date {
		font-size: 10px;
	}

	.progress-bar__title1 {
		font-size: 9px;
	}

	#text-left-1 {
		font-size: 6px;
		padding-left: 0.5rem;
	}

	.timeline__title {
		font-size: 10px;
	}



	.contact_form form input {
		width: 80%;
		font-size: 10px;
		height: 50px;
		padding-left: 5px;
	}

	.contact_form form textarea {
		width: 80%;
		font-size: 10px;
		padding-left: 5px;
		
	}

}

				